.portfolio{
  margin-bottom: 64px;
  .title{
    font-weight: 450;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    margin-bottom: 32px;
  }
  .promo{
    padding: 32px 24px;
    background: #070615;
    border-radius: 16px;
    margin-bottom: 48px;
    .info{
      .description{
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: #F9F9F9;
        max-width: 828px;
        //margin-bottom: 52px;
      }
      .artists{
        display: flex;
        align-items: center;
      }
    }
  }
  .title_block{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    position: relative;
    margin-bottom: 24px;
  }
  .block{
    margin-bottom: 64px;
    .items{
      display: flex;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
      margin-bottom: 48px;
    }
    .buttons{
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  .block_service{
    display: inline-flex;
    gap: 40px;
  }
}

@media (max-width: 400px ) {
  .portfolio {
    .block {
      .buttons {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 890px ) {
  .portfolio {
    .block_service {
      display: flex;
      flex-direction: column !important;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1440px ) {
  .portfolio {
    .block {
      .items {
        justify-content: center;
      }
    }
  }
}