.privacy{
  .title{
    font-weight: 450;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    margin-bottom: 24px;
  }
  .text{
    width: 65%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    /* White/Clean */

    color: #F9F9F9;
    margin-bottom: 64px;
  }
}