.privacy_footer{
  background: linear-gradient(90deg, #FBCDD4 0%, #EDDDF8 48.34%, #CCB3FF 100%);
  border-radius: 16px 16px 0px 0px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .item{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #24152C;
    cursor: pointer;
  }
  .left{
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 870px) {
  .privacy_footer{
    .left{
      display: none;
    }
    .right{
      width: 100%;
      text-align: center;
    }
  }
}