.hero{

  &_title{
    font-weight: 450;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;
    .scroll{
      height: 1.2em;
      flex: 1 1 auto;
      line-height: 1.2em;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      font-weight: 450;
      font-size: 48px;
      /* identical to box height, or 117% */

      letter-spacing: -0.01em;

      /* White/Clean */

      color: #F9F9F9;
      //text-align: center;
    }
    .scroll > span {
      position: absolute;
      top: 0;
      left: 0;
      animation: slide 25s infinite;
    }
  }
  .promo{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 336px;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 24px;
    display: flex;
    align-items: flex-end;


    &_text{
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      max-width: 950px;
    }
    .animbg{
      position: absolute;
      top: -5px;
      left: 0;
      z-index: -1;
    }
  }
}


.services{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  height: 100%;
  margin-bottom: 40px;
}

.done_projects{
  margin-bottom: 64px;
  &_description{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .block{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}
@keyframes slide {
  0% {
    top: 0;
  }
  10% {
    top: -1.2em;
  }
  20% {
    top: -2.4em;
  }
  30% {
    top: -3.6em;
  }
  40% {
    top: -4.8em;
  }
  50% {
    top: -6.0em;
  }
  60% {
    top: -7.2em;
  }
  70% {
    top: -8.4em;
  }
  80% {
    top: -9.6em;
  }
  90% {
    top: -10.8em;
  }
  100% {
    top: 0em;
  }
}
.news{
  padding: 32px 40px;
  background: #070615;
  border-radius: 16px;
  margin-bottom: 64px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    .title{
      font-weight: 450;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: -0.01em;
      color: #F9F9F9;
    }
    .more{
      font-weight: 450;
      font-size: 18px;
      line-height: 32px;
      color: #2697FF;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover{
        transform: translateX(5px);
      }
    }
  }
  .blocks{
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.workers{
  max-width: 1190px;
  .title{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    span {
      text-decoration: underline;
    }

  }
  .worker{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    display: flex;
    align-items: center;
    gap: 8px;

  }
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  column-gap: 4px;
}

@media (max-width: 1120px) {
  .hero {
    &_title {
      div {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    &_title {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .scroll{
        width: 100%;
        text-align: center;
        height: 50px;
      }
      .scroll >span {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 1.2em;

        //left: 0;
        right: 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 850px) {
  .news {
    .blocks {
      flex-direction: column;
    }
  }
}

@media (max-width: 670px ) {
  .news {
    padding: 0;
    .header {
      flex-direction: column;
      text-align: center;
      .title {
        font-size: 26px;
      }
      .more {
        font-size: 15px;
      }
    }
  }
  .services {
    display: flex;
    flex-direction: column;
  }
  .done_projects {
    .block {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 450px ) {
  .hero {
    &_title {
      div {
        font-size: 26px;
      }
    }
  }
}