.secondary{
  border: 1px solid #F9F9F9;
  border-radius: 51px;
  padding: 4px 24px;
  background: none;
  //TEXT
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  color: #F9F9F9;
  cursor: pointer;
}