.secondary{
  border: 1px solid #F9F9F9;
  border-radius: 51px;
  padding: 4px 24px;
  background: none;
  //TEXT
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  color: #F9F9F9;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover{
/*    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.25), 0px 0px 15px rgba(255, 255, 255, 0.3), 0px 0px 30px #FFFFFF;
    transform: translateY(-2px);*/
    background: white;
    color: black;
  }
}