.header {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .menu {
    display: flex;
    align-items: center;
    gap: 24px;
    .logotype {
      position: relative;
      z-index: 15;
    }
    .navigation {
      display: flex;
      align-items: center;
      gap: 24px;
      a {
        text-decoration: none;
      }
      &_item {
        font-weight: 450;
        font-size: 18px;
        line-height: 32px;
        color: #B0ADCE;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #F9F9F9;
        }
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 40px;
    .language {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      &_text {
        font-weight: 450;
        font-size: 18px;
        line-height: 32px;
      }
      &_flag {
        width: 20px;
        height: 20px;
        border-radius: 100px;
        overflow: hidden;
      }
    }
  }
}

.burger_menu {
  display: none;
}

@media (max-width: 900px) {
  .header {
    .menu {
      .navigation {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, rgba(17, 15, 40, 1) 0%, rgba(7, 6, 21, 1) 100%);
        transition: top 1s;
        .navigation_item {
          font-size: 30px;
        }
      }
      .active {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, rgba(17, 15, 40, 1) 0%, rgba(7, 6, 21, 1) 100%);
        transition: top 1s;
        z-index: 10;
      }
    }
    .actions {
      .burger_menu {
        display: block;
        cursor: pointer;
        z-index: 10;
      }
    }
  }
}

@media (max-width: 650px) {
  .header {
    .actions {
      gap: 20px;
      .language {
        .language_text{
          display: none;
        }
      }
    }
  }
}
