.service{
  width: 100%;
  padding: 24px;
  //background: #03020B;
  border: 1px solid #212035;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 200px;
  position: relative;
  overflow: hidden;
  max-height: 360px;

  .bg{
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -24px;
    width: 100%;
    object-fit: cover;
  }
  &:first-child{
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
  }
  &_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #F9F9F9;
    max-width: 415px;
    height: 72px;
  }
}